{
 "Light Armor - Studded Leather": "45 gp | 33 gp | 68 gp",
 "Light Armor - Leather": "10 gp | 7 gp | 15 gp",
 "Light Armor - Padded": "5 gp | 3 gp | 8 gp",
 "Medium Armor - Chain Shirt": "50 gp | 38 gp | 75 gp",
 "Medium Armor - Scale Mail": "50 gp | 38 gp | 75 gp",
 "Medium Armor - Breastplate": "400 gp | 300 gp | 600 gp",
 "Medium Armor - Half Plate": "750 gp | 562 gp | 1125 gp",
 "Medium Armor - Hide": "10 gp | 7 gp | 15 gp",
 "Heavy Armor - Ring Mail": "30 gp | 22 gp | 45 gp",
 "Heavy Armor - Chain Mail": "75 gp | 56 gp | 113 gp",
 "Heavy Armor - Splint": "200 gp | 150 gp | 300 gp",
 "Heavy Armor - Plate": "1500 gp | 1125 gp | 2250 gp",
 "Shield": "10 gp | 7 gp | 15 gp",
 "Simple Weapon - Club": "1 sp | 7 cp | 2 sp",
 "Simple Weapon - Dagger": "2 gp | 1 gp | 3 gp",
 "Simple Weapon - Dart": "5 cp | 3 cp | 8 cp",
 "Simple Weapon - Greatclub": "2 sp | 1 sp | 3 sp",
 "Simple Weapon - Handaxe": "5 gp | 3 gp | 8 gp",
 "Simple Weapon - Javelin": "5 gp | 3 gp | 8 gp",
 "Simple Weapon - Light Crossbow": "25 gp | 18 gp | 38 gp",
 "Simple Weapon - Light Hammer": "2 gp | 1 gp | 3 gp",
 "Simple Weapon - Mace": "5 gp | 3 gp | 8 gp",
 "Simple Weapon - Quarterstaff": "2 sp | 1 sp | 3 sp",
 "Simple Weapon - Shortbow": "25 gp | 18 gp | 38 gp",
 "Simple Weapon - Sickle": "1 gp | 7 sp | 2 gp",
 "Simple Weapon - Sling": "1 sp | 7 cp | 2 sp",
 "Simple Weapon - Spear": "1 gp | 7 sp | 2 gp",
 "Martial Weapon - Battleaxe": "10 gp | 7 gp | 15 gp",
 "Martial Weapon - Blowgun": "10 gp | 7 gp | 15 gp",
 "Martial Weapon - Flail": "10 gp | 7 gp | 15 gp",
 "Martial Weapon - Glaive": "20 gp | 15 gp | 30 gp",
 "Martial Weapon - Greataxe": "30 gp | 22 gp | 45 gp",
 "Martial Weapon - Greatsword": "50 gp | 38 gp | 75 gp",
 "Martial Weapon - Halberd": "20 gp | 15 gp | 30 gp",
 "Martial Weapon - Hand Crossbow": "75 gp | 56 gp | 113 gp",
 "Martial Weapon - Heavy Crossbow": "50 gp | 38 gp | 75 gp",
 "Martial Weapon - Lance": "10 gp | 7 gp | 15 gp",
 "Martial Weapon - Longbow": "50 gp | 38 gp | 75 gp",
 "Martial Weapon - Longsword": "15 gp | 11 gp | 22 gp",
 "Martial Weapon - Maul": "10 gp | 7 gp | 15 gp",
 "Martial Weapon - Morningstar": "15 gp | 11 gp | 22 gp",
 "Martial Weapon - Pike": "5 gp | 3 gp | 8 gp",
 "Martial Weapon - Rapier": "25 gp | 18 gp | 38 gp",
 "Martial Weapon - Scimitar": "25 gp | 18 gp | 38 gp",
 "Martial Weapon - Shortsword": "10 gp | 7 gp | 15 gp",
 "Martial Weapon - Trident": "5 gp | 3 gp | 8 gp",
 "Martial Weapon - War Pick": "5 gp | 3 gp | 8 gp",
 "Martial Weapon - Warhammer": "15 gp | 11 gp | 22 gp",
 "Martial Weapon - Whip": "2 gp | 1 gp | 3 gp",
 "Arcane Focus - Crystal": "10 gp | 7 gp | 15 gp",
 "Arcane Focus - Orb": "20 gp | 15 gp | 30 gp",
 "Arcane Focus - Rod": "10 gp | 7 gp | 15 gp",
 "Arcane Focus - Staff": "5 gp | 3 gp | 8 gp",
 "Arcane Focus - Wand": "10 gp | 7 gp | 15 gp",
 "Druidic Focus - Sprig of Mistletoe": "1 gp | 7 sp | 2 gp",
 "Druidic Focus - Totem": "1 gp | 7 sp | 2 gp",
 "Druidic Focus - Wooden Staff": "5 gp | 3 gp | 8 gp",
 "Druidic Focus - Yew Wand": "10 gp | 7 gp | 15 gp",
 "Holy Symbol - Amulet": "5 gp | 3 gp | 8 gp",
 "Holy Symbol - Emblem": "5 gp | 3 gp | 8 gp",
 "Holy Symbol - Reliquary": "5 gp | 3 gp | 8 gp",
 "Abacus": "2 gp | 1 gp | 3 gp",
 "Alms Box": "5 gp | 3 gp | 8 gp",
 "Arrows (20)": "1 gp | 7 sp | 2 gp",
 "Backpack": "2 gp | 1 gp | 3 gp",
 "Ball Bearings (bag of 1,000)": "1 gp | 7 sp | 2 gp",
 "Barrel": "2 gp | 1 gp | 3 gp",
 "Bedroll": "1 gp | 7 sp | 2 gp",
 "Bell": "1 gp | 7 sp | 2 gp",
 "Blanket": "5 sp | 3 sp | 8 sp",
 "Block and Tackle": "1 gp | 7 sp | 2 gp",
 "Blowgun Needles (50)": "1 gp | 7 sp | 2 gp",
 "Book, Scripture": "25 gp | 18 gp | 38 gp",
 "Glass Bottle": "2 gp | 1 gp | 3 gp",
 "Bowstring (5)": "2 gp | 1 gp | 3 gp",
 "Bucket": "5 cp | 3 cp | 8 cp",
 "Bullseye Lantern": "10 gp | 7 gp | 15 gp",
 "Candle": "1 cp | 1 cp | 2 cp",
 "Case, Map or Scroll": "1 gp | 7 sp | 2 gp",
 "Censer": "5 gp | 3 gp | 8 gp",
 "Chain (10 feet)": "5 gp | 3 gp | 8 gp",
 "Chalk (1 piece)": "1 cp | 1 cp | 2 cp",
 "Chest": "5 gp | 3 gp | 8 gp",
 "Climber's Kit": "25 gp | 18 gp | 38 gp",
 "Clothes, Common": "5 sp | 3 sp | 8 sp",
 "Clothes, Fine": "15 gp | 11 gp | 23 gp",
 "Clothes, Traveler's": "2 gp | 1 gp | 3 gp",
 "Component Pouch": "25 gp | 18 gp | 38 gp",
 "Crossbow Bolt Case": "1 gp | 7 sp | 2 gp",
 "Crossbow Bolts (20)": "1 gp | 7 sp | 2 gp",
 "Crowbar": "2 gp | 1 gp | 3 gp",
 "Flask or Tankard": "2 cp | 1 cp | 3 cp",
 "Grappling Hook": "2 gp | 1 gp | 3 gp",
 "Hammer": "1 gp | 7 sp | 2 gp",
 "Healer's Kit": "5 gp | 3 gp | 8 gp",
 "Holy Water (flask)": "25 gp | 18 gp | 38 gp",
 "Hooded Lantern": "5 gp | 3 gp | 8 gp",
 "Hourglass": "25 gp | 18 gp | 38 gp",
 "Hunting Trap": "5 gp | 3 gp | 8 gp",
 "Incense (1 block)": "1 cp | 1 cp | 2 cp",
 "Ink (1 ounce bottle)": "10 gp | 7 gp | 15 gp",
 "Ink Pen (Fountain)": "3 gp | 2 gp | 5 gp",
 "Ink Pen": "2 cp | 1 cp | 3 cp",
 "Iron Pot": "2 gp | 1 gp | 3 gp",
 "Iron Spikes": "1 gp | 7 sp | 2 gp",
 "Journal, Soft Bound, 25 Sheets": "7 gp | 5 gp | 11 gp",
 "Jug or Pitcher": "2 cp | 1 cp | 3 cp",
 "Ladder (10-foot)": "1 sp | 7 cp | 2 sp",
 "Lamp": "5 sp | 3 sp | 8 sp",
 "Lock": "10 gp | 7 gp | 15 gp",
 "Manacles": "2 gp | 1 gp | 3 gp",
 "Mess Kit": "2 sp | 1 sp | 3 sp",
 "Miner's Pick": "2 gp | 1 gp | 3 gp",
 "Oil (flask)": "1 sp | 7 cp | 2 sp",
 "Paper (one sheet)": "2 sp | 1 sp | 3 sp",
 "Parchment (one sheet)": "1 sp | 7 cp | 2 sp",
 "Perfume (vial)": "5 gp | 3 gp | 8 gp",
 "Piton": "5 cp | 3 cp | 8 cp",
 "Pole (10-foot)": "5 cp | 3 cp | 8 cp",
 "Potion of Healing": "50 gp | 38 gp | 75 gp",
 "Pouch": "5 sp | 3 sp | 8 sp",
 "Quiver": "1 gp | 7 sp | 2 gp",
 "Rations (1 day)": "5 sp | 3 sp | 8 sp",
 "Robes": "1 gp | 7 sp | 2 gp",
 "Rope, Hempen (50 feet)": "1 gp | 7 sp | 2 gp",
 "Rope, Silk (50 feet)": "10 gp | 7 gp | 15 gp",
 "Sack": "1 cp | 1 cp | 2 cp",
 "Scale, Merchant's": "5 gp | 3 gp | 8 gp",
 "Shovel": "2 gp | 1 gp | 3 gp",
 "Signal Whistle": "5 cp | 3 cp | 8 cp",
 "Signet Ring": "5 gp | 3 gp | 8 gp",
 "Sledge Hammer": "2 gp | 1 gp | 3 gp",
 "Sling Bullets (20)": "4 cp | 3 cp | 6 cp",
 "Soap": "2 cp | 1 cp | 3 cp",
 "Spellbook": "50 gp | 38 gp | 75 gp",
 "Spyglass": "1000 gp | 750 gp | 1500 gp",
 "Steel Mirror": "5 gp | 3 gp | 8 gp",
 "Tent, Two-person": "2 gp | 1 gp | 3 gp",
 "Tinderbox": "5 sp | 3 sp | 8 sp",
 "Torch": "1 cp | 1 cp | 2 cp",
 "Vial": "1 gp | 7 sp | 2 gp",
 "Whetstone": "1 cp | 1 cp | 2 cp",
 "Alchemist's Supplies/Tools": "50 gp | 38 gp | 75 gp",
 "Calligrapher's Supplies/Tools": "10 gp | 7 gp | 15 gp",
 "Carpenter's Tools": "8 gp | 6 gp | 12 gp",
 "Cartographer's Tools": "15 gp | 11 gp | 23 gp",
 "Cobbler's Tools": "5 gp | 3 gp | 8 gp",
 "Cook's Utensils/Tools": "1 gp | 7 sp | 2 gp",
 "Glassblower's Tools": "30 gp | 22 gp | 45 gp",
 "Herbalism Kit/Tools": "5 gp | 3 gp | 8 gp",
 "Jeweler's Tools": "25 gp | 18 gp | 38 gp",
 "Leatherworker's Tools": "5 gp | 3 gp | 8 gp",
 "Mason's Tools": "10 gp | 7 gp | 15 gp",
 "Navigator's Tools": "25 gp | 18 gp | 38 gp",
 "Potter's Tools": "10 gp | 7 gp | 15 gp",
 "Smith's Tools": "20 gp | 15 gp | 30 gp",
 "Thieves' Tools": "25 gp | 18 gp | 38 gp",
 "Tinker's Tools": "50 gp | 38 gp | 75 gp",
 "Weaver's Tools": "1 gp | 7 sp | 2 gp",
 "Woodcarver's Tools": "1 gp | 7 sp | 2 gp",
 "Musical Instrument - Bagpipes": "30 gp | 22 gp | 45 gp",
 "Musical Instrument - Drum": "6 gp | 4 gp | 9 gp",
 "Musical Instrument - Dulcimer": "25 gp | 18 gp | 38 gp",
 "Musical Instrument - Flute": "2 gp | 1 gp | 3 gp",
 "Musical Instrument - Horn": "3 gp | 2 gp | 5 gp",
 "Musical Instrument - Lute": "35 gp | 26 gp | 53 gp",
 "Musical Instrument - Lyre": "30 gp | 22 gp | 45 gp",
 "Musical Instrument - Pan Flute": "12 gp | 9 gp | 18 gp",
 "Musical Instrument - Shawn": "2 gp | 1 gp | 3 gp",
 "Musical Instrument - Viol": "30 gp | 22 gp | 45 gp",
 "Book - Common, Soft Bound": "8 gp | 6 gp | 12 gp",
 "Book - Common, Hard Bound": "10 gp | 7 gp | 15 gp",
 "Book - Uncommon, Soft Bound": "15 gp | 11 gp | 23 gp",
 "Book - Uncommon, Hard Bound": "20 gp | 14 sp | 30 gp",
 "Book - Rare, Soft Bound": "30 gp | 22 gp | 45 gp",
 "Book - Rare, Hard Bound": "50 gp | 38 gp | 75 gp",
 "Mount - Camel": "50 gp | 38 gp | 75 gp",
 "Mount - Donkey/Mule": "8 gp | 6 gp | 12 gp",
 "Mount - Elephant": "200 gp | 140 gp | 300 gp",
 "Mount - Horse, draft": "50 gp | 38 gp | 75 gp",
 "Mount - Horse, riding": "75 gp | 56 gp | 113 gp",
 "Mount - Mastiff": "25 gp | 18 gp | 38 gp",
 "Mount - Pony": "30 gp | 22 gp | 45 gp",
 "Mount - Warhorse": "400 gp | 280 gp | 600 gp",
 "Potion - Common": "50 gp | 38 gp | 75 gp",
 "Potion - Uncommon": "250 gp | 175 gp | 375 gp",
 "Potion - Rare": "2500 gp | 1750 gp | 3750 gp",
 "Potion - Very Rare": "12500 gp | 9375 gp | 18750 gp",
 "Potion - Legendary": "62500 gp | 46875 gp | 93750 gp",
 "Spell Scroll - Cantrip": "50 gp | 38 gp | 75 gp",
 "Spell Scroll - Level 1": "100 gp | 75 gp | 150 gp",
 "Spell Scroll - Level 2": "250 gp | 187 gp | 375 gp",
 "Spell Scroll - Level 3": "500 gp | 375 gp | 750 gp",
 "Spell Scroll - Level 4": "2500 gp | 1875 gp | 3750 gp",
 "Spell Scroll - Level 5": "5000 gp | 3750 gp | 7500 gp",
 "Magic Appraisal (Identify)": "100 gp | 75 gp | 150 gp"
}
